[dir="rtl"] .nav-bar {
  .logo {
    margin-right: 2.7%;
    margin-left: auto;
  }

  .link {
    margin-left: 3%;
    &.active {
      &:after {
        right: 0px;
      }
    }
  }

  .call-to-action {
    margin-left: 56px;

    margin-right: auto;

    border: none;
    border-radius: 6px;

    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: $Maincolor;

    cursor: pointer;
  }

  .menu-button {
    @extend .ripple;

    display: none;
    cursor: pointer;
  }
}
